{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="row">
                <div class="col-md-7">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                </div>

                <div class="date col-md-3">
                    <h3>{{ post.author }}</h3>
                </div>                               
            </div>

            <div class="row">
                <div class="col-md-7">
                </div>

                <div class="date col-md-3s">
                    <p>Key: {{post.pk}}....{{ post.published_date }}</p>
                </div>                
            </div>
            <p>{{ post.text|linebreaksbr|truncatewords:15 }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }} / ({{ post.comments.count }})</a>
        </div>

    {% endfor %}
{% endblock %}