{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">

        <div class="row">
            <div class="col-md-8">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="col-md-4">
                {% if user.is_authenticated %}
                    {% if post.published_date %}
                        <p>  published: {{ post.published_date|date:'d-m-Y'  }}</p>
                        
                    {% else %}
                        <p>  created: {{ post.created_date|date:'d-m-Y' }}</p>
                        <a align="right" padding=6px class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                    {% endif %}

                    <a align="right" class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>

    </div>
{% endblock %}